*.md5
installdox
latex/                                                                                                                                                                                                                                                         
.idea/                                                                                                                                                                                                                                                         
CMakeFiles/                                                                                                                                                                                                                                                    
Testing/   
build/
build_debug/
build_release/
